DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=127.0.0.1
DB_PORT=5432

COLLECTAPI_API_KEY=apikey your_collectapi_key
COLLECTAPI_BASE_URL=https://api.collectapi.com
COLLECTAPI_TIMEOUT=10

REDIS_URL=redis://127.0.0.1:6379/0
